<style>
    h1 {
        font-size: 4em;
    }

    h3 {
        text-align: center;
    }
</style>

<div class="center-both">
    <h1>Welcome to Nginx Admin UI</h1>
    <h3>This application is under heavy development, and breaking changes may occur
        frequently.<br>If you find any
        issues,
        please report them to <a href="https://github.com/Joyte/nginxadminui/issues" target="_blank">the issues
            page</a>.</h3>
</div>